<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.djw.get2workchat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Splash_act"
            android:theme="@style/SplashTheam">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Profile_Act"
            android:theme="@style/Profile" />
        <activity android:name=".Activities.SignIn_act" />
        <activity
            android:name=".Activities.Main_act"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.CreateRoom_act"
            android:theme="@style/AppThemeActionBar" />

        <activity android:name=".Activities.Chat_room_act"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeActionBar">

        </activity>
    </application>

</manifest>